.bookCard {
  margin-left: 10px;
}

.borderDarkClass {
  border: 1px solid black;
}

.pullRight {
  float: right;
}

.margin10 {
  margin: 10px;
}
.headerAlign {
  display: flex;
}
.headerAlign div:nth-of-type(1) {
  margin-left: 10px;
}
.headerAlign div:nth-of-type(2) {
  margin-left: 40px;
}
.app {
}
.smallfont {
  font-size: 4px;
  float: right;
}
